discord==1.7.3
wavelink==0.9.10
asyncio==3.4.3
ksoftapi==0.4.1
dblpy==0.4.0
git+https://github.com/CubexX/shortest-python.git
spotipy==2.19.0
git+https://github.com/Rapptz/discord-ext-menus.git
lyricsgenius==3.0.1
